# Provides defence while not doing anything

name Ice shell
icon resources/textures/Spell/iceShell.png

type concentrationBonus

physicalDefenceBonus 10

mana 3

particle resources/textures/Particles/iceShell.png
