# powerful cool looking spell

name Stalactite
icon resources/textures/Spell/stalactite.png

type fallingProjectile

damage 5
damageType physical

accuracy 2

mana 1

projectileTexture resources/textures/Particles/stalactite.png
fallTime 0.2
fallHeight 100
